<head>
    <title>Bootstrap Example</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
</head>

{% block stylesheet %}
    <style>
        body {
            font-family: sans-serif;
            background: rgb(238, 238, 238);
        }

        h1 {
            display: block;
            color: #7f692d9e;
            font-size: 1.6em;
            -webkit-margin-before: 0.67em;
            -webkit-margin-after: 0.67em;
            -webkit-margin-start: 0px;
            -webkit-margin-end: 0px;
            font-weight: lighter;
        }

        .email--background {
            background: #eee;
            padding: 10px;
            text-align: center;
        }
        .email--container, .pre-header {
            max-width: 700px;
            background: #fff;
            margin: 0 auto;
            overflow: hidden;
            border-radius: 5px;
        }
        .email--inner-container {
            padding: 0 5% 40px;
        }

        .pre-header {
            background: #eee;
            color: #eee;
            font-size: 5px;
        }

        img {
            max-width: 100%;
            display: block;
        }

        p {
            font-size: 16px;
            line-height: 1.5;
            color: #a2a2a2;
            margin-bottom: 30px;
        }

        .cta {
            display: inline-block;
            padding: 10px 20px;
            color: #fff;
            background: #373629;
            text-decoration: none;
            letter-spacing: 2px;
            text-transform: uppercase;
            border-radius: 5px;
            font-size: 13px;
        }

        .footer-junk {
            padding: 20px;
            font-size: 10px;
        }
        .footer-junk a {
            color: #bbbbbb;
        }

        .break {
            overflow: hidden;
            page-break-after: always;
        }
    </style>
{% endblock %}

{% block body %}
    {% for billet in reservation.billets %}
    <div class="email--background break">

        <div class="pre-header">
        </div>

        <div class="email--container">
            <img src="https://res.cloudinary.com/dlis7nn34/image/upload/v1520064298/head-img.jpg">

            <div class="email--inner-container container">
                <h1>Merci pour votre réservation</h1><br>
                <table class="table">
                    <thead>
                    <tr>
                        <th>Nom</th>
                        <th>Prénom</th>
                        <th>Naissance</th>
                        <th>Date réservation</th>
                        <th>Code réservation</th>
                        <th>Prix</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr>
                        <td>{{ billet.nom }}</td>
                        <td>{{ billet.prenom }}</td>
                        <td>{{ billet.dateNaissance|date('d/m/Y') }}</td>
                        <td>{{ reservation.dateReservation|date('d/m/Y') }}</td>
                        <td>{{ reservation.codeReservation|slice(8,21) }}</td>
                        <td>{{ reservation.prix }} €</td>
                    </tr>
                    </tbody>
                </table>
                <a href="https://res.cloudinary.com/dlis7nn34/image/upload/v1520057373/plan-musee-louvre.jpg" class="cta">Plan du Musée</a>

            </div>
        </div>

        <div class="footer-junk">
            <a href="#">Louvre</a>
        </div>

    </div>
    {% endfor %}
{% endblock %}