{{ block('head', template_reservation) }}

{{ block('stylesheets_invoice', template_payment) }}

<body class="image-container">
<div class="container animated fadeIn">
    <div class="invoice">
        <header>
            <section>
                <h1>Merci pour votre réservation</h1>
                <span>{{ reservation.dateReservation|date('d/m/Y') }}</span>
            </section>

            <section>
                <span>{{ reservation.codeReservation|slice(8,21) }}</span>
            </section>
        </header>

        <div id="head-parent">
            <table class="table">
                <thead class="thead-light">
                <tr>
                    <th scope="col">Demi-journée</th>
                    <th scope="col">Adresse mail</th>
                    <th scope="col">Nom</th>
                    <th scope="col">Prénom</th>
                    <th scope="col">Date de naissance</th>
                    <th scope="col">Naissance</th>
                    <th scope="col">Prix</th>
                </tr>
                </thead>
                <tbody>
                {% for billet in reservation.billets %}
                    <tr>
                        <th>{% if reservation.demiJournee == true %}✔️{% else %}❌{% endif %}</th>
                        <td>{{ reservation.email }}</td>
                        <td>{{ billet.nom }}</td>
                        <td>{{ billet.prenom }}</td>
                        <td>{{ billet.dateNaissance|date('d/m/Y') }}</td>
                        <td>{% if billet.reduction == true %}✔️{% else %}❌{% endif %}</td>
                        <td>{{ billet.prix }} EUR</td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>
        </div>

        <footer>
            <a></a>
            <form action="/files/pdf/{{ reservation.id }}" target="_blank"><button class="pdf">Imprimer en format PDF</button></form>
        </footer>
    </div>
</div>
</body>